<!-- cart.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 20px;
        }

        .card {
            width: 200px;
            background-color: aliceblue;
        }

        .card-img-top {
            width: 100%;
            height: auto;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.css">

</head>

<body>
    <div>
        <div class="header">
            <h1 class="myEmployees"><a href="/home">Shopping Cart</a></h1>
        </div>
        <!-- <div>
            <ul>
                <li>
                    <a href="/home">All Products</a>
                </li>
                <li>
                    <a href="/logout" style="color: green;">Logout</a>
                </li>
            </ul> -->
            <!-- <h1>Shopping Cart</h1> -->
            <div class="container">
                <% if (cartItems.length> 0) { %>
                    <div class="employeeCards">
                        <% cartItems.forEach((item)=> { %>
                            <div class="card">
                                <img src="/<%= item.product.image %>" class="card-img-top" alt="Product Image">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= item.product.productName %>
                                    </h5>
                                    <p class="contact">
                                        Quantity: <%= item.quantity %>
                                    </p>
                                    <p class="contact">
                                        Price: <%= formatRupiah(item.product.price) %>
                                    </p>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <br>
                    <div class="checkout">
                        <form action="/checkout" method="post">
                            <button type="submit">Checkout</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class="header">
                            <h1 class="myEmployees">Your cart is empty.</h1>
                        </div>
                        <% } %>
            </div>

</body>

</html>