<!DOCTYPE html>
<html>
<head>
  <title>Halodek - Your Health Solution</title>
  
</head>
<body>
  <div class="container">
    <h1>Welcome To Halodek</h1>
    <p>Shop for all your health needs more easily</p>
    <a href="/login">Login</a>
  </div>
</body>
</html>
