<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.css">

  <title>Halodek - Your Health Solution</title>

</head>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="header">
    <h1 class="myEmployees">Welcome To Halodek</h1>
    <h3>Shop for all your health needs more easily</h3>
  </div>
  <br>
  <br>
  <div class="checkout">
    <form action="/checkout" method="post">
      <a href="/login"><button>Login</button></a>
    </form>
  </div>

</body>

</html>