<!DOCTYPE html>
<html>
<head>
  <title>Styletiv8 - Activate Your Style</title>
  
</head>
<body>
  <div class="container">
    <h1>Halodek</h1>
    <p>Shop for all your health needs more easily</p>
    <a href="/login">Login</a>
  </div>
</body>
</html>
